<script src="https://giscus.app/client.js"
        data-repo="bearomorphism/bearomorphism-discuss"
        data-repo-id="R_kgDOO0zeQQ"
        data-category="General"
        data-category-id="DIC_kwDOO0zeQc4Cq8dI"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
